{% extends "nav.html" %}
{% load static %}


    {% block content %}
    <div id="Metodos">
        <h1 id="M-title">Busqueda Incremental</h1>
        <div id="M-container">
            <form method="post" id="M-form">
                <h2 id="f-Title">Parametros</h2>
                {% csrf_token %}
                <div id="input-container">
                    <div>
                        <p class="form-p">Funcion: </p><input type="text" class="f-input" placeholder="X^3" name="funcion">
                    </div>
                    <div>
                        <p class="form-p">Valor Inicial: </p><input type="text" class="f-input" placeholder="X^3" name="Valor-i">
                    </div>
                    <div>
                        <p class="form-p">Delta: </p><input type="text" class="f-input" placeholder="X^3" name="delta">
                    </div>
                    <div>
                        <p class="form-p">Iteraciones Maximas:</p><input type="text" class="f-input" placeholder="X^3" name="niter">
                    </div>
                </div>
                <input class="send" type="submit" name="submit" value="Completado" >
            </form>
            <div id="resultado">
                <h2 id="f-Title">Resultado</h2>
            </div>
        </div>
    </div>
    {% endblock %}