{% extends "nav.html" %}
{% load static %}


    {% block content %}
        <div id="derecha">
        <a href="{% url 'B' %}" ><div class="M-name-container"><p class="Method-title">Bisección</p></div></a>
        </div>
    <div id="Metodos">
        <h1 id="M-title">Busqueda Incremental</h1>
        <div id="M-container">
            <form method="post" id="M-form">
                <h2 id="f-Title">Parametros</h2>
                {% csrf_token %}
                <div id="input-container">
                    <div>
                        <p class="form-p">Funcion: </p><input type="text" class="f-input" value="math.log(math.sin(x)**2+1)-(1/2)" value="{{arg.0}}" name="funcion">
                    </div>
                    <div>
                        <p class="form-p">Valor Inicial: </p><input type="text" class="f-input" value="-3" value="{{arg.1}}" name="Valor-i">
                    </div>
                    <div>
                        <p class="form-p">Delta: </p><input type="text" class="f-input" value="0.5" value="{{arg.2}}" name="delta">
                    </div>
                    <div>
                        <p class="form-p">Iteraciones Maximas:</p><input type="text" class="f-input" value="100" value="{{arg.3}}" name="niter">
                    </div>
                </div>
                <input class="send" type="submit" name="submit" value="Completado" >
            </form>
            <div id="resultado">
                <h2 id="f-Title">Resultado</h2>
                {% if flag %}

                {%else%}
                {% if res|length > 0 %}
                <h2 id="f-Title">Se han encontrado raices en los siguientes intervalos</h2>
                <table id="tabla" bgcolor="grey" >
                    <tr id="res-campos" bgcolor="#345E8F">
                        <th style="color: white">Iteracion</th>
                        <th style="color: white">Rango</th>
                    </tr>
                    {% for element in res %}
                    <tr bgcolor="lightgrey" align="center">
                        <td>{{element.0}}</td>
                        <td>{{element.1}}, {{element.2}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h1 id="f-Title">No se han encontrado raices</h1>
                {% endif%}
                {%endif%}
            </div>
        </div>
    </div>
    {% endblock %}