{% extends "nav.html" %}
{% load static %}
{% load util %}

    {% block content %}
    <div id="derecha">
        <a href="{% url 'IT' %}" ><div class="M-name-container"><p class="Method-title">Metodos Iterativos</p></div></a>
    </div>
        <div id="izquierda">
            <a href="{% url 'DO' %}" ><div class="M-name-container"><p class="Method-title">Doolittle</p></div></a>
    </div>
    <div id="Metodos">
        <h1 id="M-title">Cholesky</h1>
        <div id="M-container">
            
            <div id="M-div">
                <h2 id="f-Title">Parametros</h2>
                <div id="input-container-Matrix">
                    <form method="post"  style="justify-self:center">
                        {% csrf_token %}
                        <p class="form-p">Tamaño matriz (nxn): </p><input type="number" class="f-input" value="{{n}}" name="number">
                        <input class="send" type="submit" name="submit" value="Actualizar" >
                    </form>
                    <form method="post"  style="justify-self:center">
                        {% csrf_token %}
                        <div id="M2-form">
                            <div id="Matriz">
                                <p class="form-p">Matriz:</p>
                                {% for i in number %}
                                <div class="row">
                                    {% for j in number %}
                                    <input type="number" class="f-input" step="0.0001" value="0" style="width:40px" name="m{{i}}{{j}}">
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                            <div id="vector">
                                <p class="form-p">Vector:</p>
                                {% for i in number %}
                                <input type="number" class="f-input" step="0.0001" value="0" style="width:40px"  name="v{{i}}">
                                {% endfor %}
                            </div>
                        </div>
                        <input class="send" type="submit" name="submit" value="Completado" >
                    </form>
                </div>
            </div>
                    
            <div id="resultadom">
                <h2 id="f-Title">Resultado</h2>
                {% if flag %}
                {%else%}
                {% if res|length > 0 %}
                {% for step in res %}
                <h1 id="f-Title"> STEP {{ forloop.counter  }}</h1>
                    {% for matrix in step %}
                        <h1>{{names|return_item:forloop.counter}}</h1>
                        <table id="tabla" bgcolor="black" >
                            {% for row in matrix %}
                            <tr align="center" bgcolor="#345E8F">
                                {% for number in row %}
                                    <td style="color:white;">{{number}}</td>    
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    {% endfor %}
                {% endfor %}
                <h1 id="f-Title"> Al aplicar sustitucion regresiva y progresiva tenemos:</h1>
                {% for i in res2 %}
                    <h2>x{{forloop.counter}} = {{i}}</h2>
                {%endfor%}
                {% else %}
                <h1 id="f-Title">No se ha encontrado respuesta</h1>
                {% endif%}
                {%endif%}
            </div>
        </div>
    </div>
    {% endblock %}