{% extends "nav.html" %}
{% load static %}
{% load util %}

    {% block content %}
    <div id="Metodos">
        <h1 id="M-title">Eliminación Gaussiana Simple</h1>
        <div id="M-container">
            
            <div id="M-div">
                <h2 id="f-Title">Parametros</h2>
                <div id="input-container-Matrix">
                    <form method="post"  style="justify-self:center">
                        {% csrf_token %}
                        <p class="form-p">Tamaño matriz (nxn): </p><input type="number" class="f-input" value="{{n}}" name="number">
                        <input class="send" type="submit" name="submit" value="Actualizar" >
                    </form>
                    <form method="post"  style="justify-self:center">
                        {% csrf_token %}
                        <div id="M2-form">
                            <div id="Matriz">
                                <p class="form-p">Matriz:</p>
                                {% for i in number %}
                                <div class="row">
                                    {% for j in number %}
                                    <input type="number" step="0.0001" class="f-input" style="width:40px" value="0" name="m{{i}}{{j}}">
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                            <div id="vector">
                                <p class="form-p">Vector:</p>
                                {% for i in number %}
                                <input type="number" step="0.0001" class="f-input" style="width:40px" value="0" name="v{{i}}">
                                {% endfor %}
                            </div>
                        </div>
                        <input class="send" type="submit" name="submit" value="Completado" >
                    </form>
                </div>
            </div>
                    
            <div id="resultadom">
                <h2 id="f-Title">Resultado</h2>
                {% if flag %}
                {%else%}
                {% if res|length > 0 %}
                {% for element in res %}
                
                <table id="tabla" bgcolor="black"  >
                    <h1 id="f-Title"> STEP {{ forloop.counter }}</h1>
                    {% for row in element%}
                    <tr align="center" bgcolor="#345E8F">
                            {% for number in row %}
                                <td style="color:white;">{{number}}</td>
                            {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </table>
                <h1 id="f-Title"> Al aplicar sustitucion tenemos:</h1>
                {% for i in res2 %}
                    <h2>x{{forloop.counter}} = {{i}}</h2>
                {%endfor%}
                {% else %}
                <h1 id="f-Title">No se ha encontrado respuesta</h1>
                {% endif%}
                {%endif%}
            </div>
        </div>
    </div>
    {% endblock %}



    <!--
                    <div id="Matriz">
                        <p class="form-p">Matriz:</p>
                        <div class="row">
                            <input type="number" class="f-input" value="0" name="m00">
                            <input type="number" class="f-input" value="0" name="m01">
                            <input type="number" class="f-input" value="0" name="m02">
                        </div>
                        <div class="row">
                            <input type="number" class="f-input" value="0" name="m10">
                            <input type="number" class="f-input" value="0" name="m11">
                            <input type="number" class="f-input" value="0" name="m12">
                        </div>
                        <div class="row">
                            <input type="number" class="f-input" value="0" name="m20">
                            <input type="number" class="f-input" value="0" name="m21">
                            <input type="number" class="f-input" value="0" name="m22">
                        </div>
                    </div>
                    <div id="vector">
                        <p class="form-p">Vector:</p>
                        <input type="number" class="f-input" value="0" name="v0">
                        <input type="number" class="f-input" value="0" name="v1">
                        <input type="number" class="f-input" value="0" name="v2">
                    </div>

    -->