{% extends "nav.html" %}
{% load static %}


    {% block content %}

    <div id="Metodos">
        <h1 id="M-title">Factorizacion directa LU simple</h1>
        <div id="M-container">
            
            <div id="M-div">
                <h2 id="f-Title">Parametros</h2>
                <div id="input-container-Matrix">
                    <form method="post"  style="justify-self:center">
                        {% csrf_token %}
                        <p class="form-p">Tamaño matriz (nxn): </p><input type="number" class="f-input" value="{{n}}" name="number">
                        <input class="send" type="submit" name="submit" value="Actualizar" >
                    </form>
                    <form method="post"  style="justify-self:center">
                        {% csrf_token %}
                        <div id="M2-form">
                            <div id="Matriz">
                                <p class="form-p">Matriz:</p>
                                {% for i in number %}
                                <div class="row">
                                    {% for j in number %}
                                    <input type="number" class="f-input" value="0" name="m{{i}}{{j}}">
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                            <div id="vector">
                                <p class="form-p">Vector:</p>
                                {% for i in number %}
                                <input type="number" class="f-input" value="0" name="v{{i}}">
                                {% endfor %}
                            </div>
                        </div>
                        <input class="send" type="submit" name="submit" value="Completado" >
                    </form>
                </div>
            </div>
                    
            <div id="resultado">
                <h2 id="f-Title">Resultado</h2>
            </div>
        </div>
    </div>
    {% endblock %}