{% extends "nav.html" %}
{% load static %}
{% load util %}

    {% block content %}
    <div id="derecha">
        <a href="{% url 'LA' %}" ><div class="M-name-container"><p class="Method-title">Lagrange</p></div></a>
    </div>
        <div id="izquierda">
            <a href="{% url 'Va' %}" ><div class="M-name-container"><p class="Method-title">Vandermonde</p></div></a>
    </div>
    <div id="Metodos">
        <h1 id="M-title">Newton Diferencias Divididas</h1>
        <div id="M-container">
            <div id="M-div">
                <h2 id="f-Title">Parametros</h2>
                <div id="input-container-Matrix">
                    <form method="post"  style="justify-self:center">
                        {% csrf_token %}
                        <p class="form-p">Numero de puntos: </p><input type="number" class="f-input" value="{{n}}" name="number">
                        <input class="send" type="submit" name="submit" value="Actualizar" >
                    </form>
                    <form method="post"  style="justify-self:center">
                        {% csrf_token %}
                        <div id="M2-form">
                            <div id="vector">
                                <p class="form-p">X:</p>
                                {% for i in number %}
                                <input type="number" class="f-input" step="0.0001" style="width:40px" value="0" name="x{{i}}">
                                {% endfor %}
                            </div>
                            <div id="vector">
                                <p class="form-p">Y:</p>
                                {% for i in number %}
                                <input type="number" class="f-input" step="0.0001" style="width:40px" value="0" name="y{{i}}">
                                {% endfor %}
                            </div>
                        </div>
                        <input class="send" type="submit" name="submit" value="Completado" >
                    </form>
                </div>
            </div>
                    
            <div id="resultadom">
                <h2 id="f-Title">Resultado</h2>
                {% if flag %}
                {%else%}
                {% if res|length > 0 %}
                <h1 id="f-Title">Tabla diferencias Divididas</h1>
                    <table id="tabla" bgcolor="black" >
                        <tr align="center" bgcolor="#345E8F">
                            <th style="color:white;">n</th>
                            <th style="color:white;"> Xi</th>
                            <th style="color:white;"> F[Xi]</th>
                            {% for i in number %}
                                {% if forloop.counter0 != 0 %}
                                    <th style="color:white;">{{i}}</th>   
                                {% endif %}
                                
                            {% endfor %}
                        </tr>
                        {% for row in res %}
                        <tr align="center" bgcolor="lightgrey">
                            <td> {{forloop.counter0}}</td>
                            <td> {{x|return_item:forloop.counter0}}</td>
                            {% for number in row %}
                                <td>{{number}}</td>    
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                <h1 id="f-Title"> Coeficiente Polinomicos</h1>
                <p>{{res2}}</p>
                <h1 id="f-Title"> El polinomio de Newton es:</h1>
                <p>
                {{r}}
                </p>
                {% else %}
                <h1 id="f-Title">No se ha encontrado respuesta</h1>
                {% endif%}
                {%endif%}
            </div>
        </div>
        </div>
    </div>
    {% endblock %}