{% extends "nav.html" %}
{% load static %}


    {% block content %}
    <div id="derecha">
        <a href="{% url 'NR' %}" ><div class="M-name-container"><p class="Method-title">Newton-Raphson</p></div></a>
    </div>
        <div id="izquierda">
            <a href="{% url 'PF' %}" ><div class="M-name-container"><p class="Method-title">Regla Falsa</p></div></a>
    </div>
    <div id="Metodos">
        <h1 id="M-title">Punto Fijo</h1>
        <div id="M-container">
            <form method="post" id="M-form">
                <h2 id="f-Title">Parametros</h2>
                {% csrf_token %}
                <div id="input-container">
                    <div>
                        <p class="form-p">Funcion f: </p><input type="text" class="f-input" value="{{arg.0}}" name="funcionf">
                    </div>
                    <div>
                        <p class="form-p">Funcion g: </p><input type="text" class="f-input" value="{{arg.1}}" name="funciong">
                    </div>
                    <div>
                        <p class="form-p">Valor inicial: </p><input type="text" class="f-input" value="{{arg.2}}" name="x0">
                    </div>
                    <div>
                        <p class="form-p">Tolerancia: </p><input type="text" class="f-input" value="{{arg.3}}"  name="tol">
                    </div>
                    <div>
                        <p class="form-p">Iteraciones Maximas:</p><input type="text" class="f-input" value="{{arg.4}}" name="niter">
                    </div>
                </div>
                <input class="send" type="submit" name="submit" value="Completado" >
            </form>
            <div id="resultado">
                <h2 id="f-Title">Resultado</h2>
                {% if flag %}
                {%else%}
                {% if res|length >= 0 %}
                <table id="tabla" bgcolor="grey" >
                    <tr id="res-campos" bgcolor="#345E8F">
                        <th style="color: white">Iteracion</th>
                        <th style="color: white">x</th>
                        <th style="color: white">f(x)</th>
                        <th style="color: white">g(x)</th>
                        <th style="color: white">E</th>
                    </tr>
                    {% for element in res %}
                    <tr bgcolor="lightgrey" align="left">
                        <td>{{element.0}}</td>
                        <td>{{element.1}}</td>
                        <td>{{element.2}}</td>
                        <td>{{element.3}}</td>
                        <td>{{element.4}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h1 id="f-Title">{{final}}</h1>
                {% else %}
                <h1 id="f-Title">No se han encontrado raices</h1>
                {% endif%}
                {%endif%}
            </div>
        </div>
    </div>
    {% endblock %}