{% extends "nav.html" %}
{% load static %}
{% load util %}

    {% block content %}

    <div id="Metodos">
        <h1 id="M-title">Vandermonde</h1>
        <div id="M-container">
            <div id="M-div">
                <h2 id="f-Title">Parametros</h2>
                <div id="input-container-Matrix">
                    <form method="post"  style="justify-self:center">
                        {% csrf_token %}
                        <p class="form-p">Numero de puntos: </p><input type="number" class="f-input" value="{{n}}" name="number">
                        <input class="send" type="submit" name="submit" value="Actualizar" >
                    </form>
                    <form method="post"  style="justify-self:center">
                        {% csrf_token %}
                        <div id="M2-form">
                            <div id="vector">
                                <p class="form-p">X:</p>
                                {% for i in number %}
                                <input type="number" class="f-input" style="width:40px"  value="0" name="x{{i}}">
                                {% endfor %}
                            </div>
                            <div id="vector">
                                <p class="form-p">Y:</p>
                                {% for i in number %}
                                <input type="number" class="f-input" style="width:40px" value="0" name="y{{i}}">
                                {% endfor %}
                            </div>
                        </div>
                        <input class="send" type="submit" name="submit" value="Completado" >
                    </form>
                </div>
            </div>
                    
            <div id="resultadom">
                <h2 id="f-Title">Resultado</h2>
                {% if flag %}
                {%else%}
                {% if res|length > 0 %}
                <div style="display:flex; align-items: center; column-gap: 10px;">
                    <table id="tabla" bgcolor="black" >
                        {% for row in res %}
                        <tr align="center" bgcolor="#345E8F">
                            {% for number in row %}
                                <td style="color:white;">{{number}}</td>    
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                    <table  bgcolor="black" class="sub-table">
                        {% for row in res %}
                        <tr align="center" bgcolor="#345E8F">
                            <td style="color:white;"> a{{forloop.counter}} </td>
                        </tr>
                        {% endfor %}
                    </table>
                    =
                    <table  bgcolor="black" class="sub-table">
                        {% for element in y %}
                        <tr align="center" bgcolor="#345E8F">
                            <td style="color:white;"> {{element}} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <h1 id="f-Title"> Coeficiente Polinomicos</h1>
                <p>{{res2}}</p>
                <h1 id="f-Title"> El polinomio de vandermonde es:</h1>
                <h2>
                <p>
                {% for i in res2 %}
                {% if i.0 > 0 %}
                +   
                {% endif %}
                {{i.0}} 
                    {% if cof|return_item:forloop.counter0 != 0 %}
                    *x<sup>{{cof|return_item:forloop.counter0}}</sup>

                    {% endif %}
                {%endfor%}
                </p>
                </h2>
                {% else %}
                <h1 id="f-Title">No se ha encontrado respuesta</h1>
                {% endif%}
                {%endif%}
            </div>
        </div>
        </div>
    </div>
    {% endblock %}