{% extends "nav.html" %}
{% load static %}


    {% block content %}
    <div id="w-container">
        <div id="w-text-container">
            <h1 id="w-title">Bienvenido a Klein</h1>
            <p id="w-text">Klein es una herramienta que te otorgara diversos  metodos para resolver diferentes problemas de analisis numerico</p>
            <a id="w-link" href="{% url 'metodos' %}"><div class="w-link-container"><h2 id="w-start">!Comienza Ahora!</h2></div></a>
           
        </div>
        <img id="w-image"src="{% static 'images/Welcome.JPG' %}">
    </div>
    {% endblock %}
