#Metodos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#graph-container{
    width: 500px;
    height: 500px;
}

#M-title{

    margin-top: 60px;
    font-size: 62px;
    font-family: 'Rubik', sans-serif;
}


#M-text{
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
}

#M-text-container{
    width: 1100px;
}

.M-title{
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    color: #2a5a92;
}

.Method-Container{
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-column-gap: 80px;
    grid-row-gap: 40px;
}

.Method-title{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    text-align: center;
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
}

.M-name-container:hover > .Method-title{
    color: white;
}

.M-name-container:hover{
    background-color: #348D8F;
}

.M-name-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    height: 60px;
}

a{
    text-decoration: none;
}

#M-form{
    padding: 10px 30px 40px 30px;
    border-style: solid;
    border-color: #345E8F;
    border-width: 2px;
    border-radius: 10px;
    background-color: white;
    width: 900px;
    margin-bottom: 30px;
}

#M2-form{
    display: flex;
    column-gap: 100px;
}

#M-div{
    padding: 10px 30px 40px 30px;
    border-style: solid;
    border-color: #345E8F;
    border-width: 2px;
    border-radius: 10px;
    background-color: white;
    width: 900px;
    margin-bottom: 30px;
}

.form-p{
    font-family: 'Rubik', sans-serif;
    color: black;
    margin-bottom: 5px;
}

.f-input[type=text]{
    width: 400px;
    height: 30px;
}

input[type=submit]{
    cursor:pointer;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

#M-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.send{
    
    display: block;
    margin: auto;
    margin-top: 40px;
}

#f-Title{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: black;
}

#input-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}

.f-input{
    width: 30px;
}

#vector{
    display: flex;
    flex-direction: column;
}

#x0{
    display: flex;
    flex-direction: column;
}

#input-container-Matrix{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    justify-content: center;
}

#N-form{
    display: flex;
    flex-direction: column;
}

#it-form{
    display: grid;
    grid-template-columns: 50% 50%;
}

.f-input2[type=text]{
    width: 100px;
    height: 20px;
    font-size: 15px;
}